.category-header h1{
 background-color: #000;
 color: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
 text-transform: uppercase;
font-size: 40px;
font-weight: 700;
line-height: 44px;
letter-spacing: 1.4px;
text-align: center;
padding: 50px 0;
margin: 0;
}
.category-text{
 margin: 40px 80px;
 display: flex;
 gap: 100px;
 align-items: center;
}
.row {
  flex-direction: row;
  justify-content: space-between;
}
.row-reverse {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.category-text img{
 background-color: #f1f1f1;
 padding: 15px;
  margin-bottom: 40px;
}
.category-text h3{
 text-transform: uppercase;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 10px;
text-align: left;
color: #d87d4a;
}
.category-text h1{
font-size: 40px;
font-weight: 700;
line-height: 44px;
letter-spacing: 1.4285714626312256px;
text-align: left;
color: #000;
text-transform: uppercase;
}
.category-text p{
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0px;
text-align: left;
opacity: 0.5;
}
.category-text button{
 height: 48px;
 width: 160px;
 background-color: #d87d4a;
font-size: 13px;
font-weight: 700;
line-height: 18px;
letter-spacing: 1px;
text-align: center;
padding: 5px;
color: #fff;
border: none;
outline: none;
text-transform: uppercase;
}
.category-text button:hover{
  background-color: #FBAF85;
}
.product-btn{
  background-color: #fff;
  border: none;
  outline: none;
  padding: 5px;
  margin: 30px 70px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.product-head{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 0;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 1px;
text-align: left;
color: #000;
text-transform: uppercase;
}