.popular{
 margin-left: 35px;
}

/* tablet */
@media screen and (max-width: 768px) {
  .popular{
   margin-left: 0px;
   display: flex;
   align-items: center;
  }
}

/* mobile */
@media screen and (max-width: 480px) {
  .popular{
   margin-left: 0px;
   display: block;
  }
}